{% block sw_cms_element_shoppable_image_preview %}
<div class="sw-cms-el-preview-shoppable-image">
    <sw-icon name="regular-image-text" size="24"></sw-icon>
    <span>{{ $tc('sw-cms.elements.shoppableImage.label') }}</span>
</div>
{% endblock %}